@using CoreStudy.Helpers

@model IEnumerable<CoreStudy.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h2> Categories List </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    <!--
                        <a asp-controller="Categories" asp-action="GetPictureById" asp-route-id="@item.CategoryId"> Image </a>
                    -->
                    @Html.NorthwindImageLink(item.CategoryId, "Image")
                </td>
            </tr>
        }
    </tbody>
</table>


@section Footers
{
    <p style="text-align: center; color: red; background-color: yellow"> It's strictly forbidden to edit Categories </p>
    <p>&copy; 2019 - CoreStudy</p>
}